@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-oba-slide {
    animation: oba-slide 0.6s ease-in-out;
  }
}

@keyframes oba-slide {
  0% {
    transform: translateX(-32px);
  }
  100% {
    transform: translateX(32px);
  }
}
